{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions"
        },
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [["direct-import", ["material-ui"]]],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}