{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions"
        },
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"]  
}